@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100dvh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a,
i,
figure,
img,
button,
input[type="button"],
input[type="submit"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
  border-style: none;
  outline-style: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1200px;
  width: min(100% - 25px, 1080px);
  margin-inline: auto;
  box-sizing: border-box;
}

/* ! ------------------------------------------------------------------------ */
/* !                                 CONTENT                                  */
/* ! ------------------------------------------------------------------------ */

:root {
  --app-border-radius: 0.4rem;
  --app-border: 0.1rem solid #444;
}

body {
  background-color: #1d1d1d;
  color: #fff;
  text-align: center;
}

section {
  margin-bottom: 1.5rem;
}

select + select,
input {
  margin-left: 1.5rem;
}

select {
  padding: 0 1.2rem;
  width: 23rem;
  height: 4.6rem;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
}

.create {
  background-color: #ffa500;
  color: #fff;
  padding: 0 1.2rem;
  width: 12.5rem;
  height: 4.6rem;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
}

.shapes {
  background-color: #000;
  width: 100rem;
  height: 70rem;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 16rem;
  padding: 2rem;
  gap: 1rem;
  transform: rotate(180deg) scaleX(-1);
}

.shapes > div {
  grid-column: span 1;
  grid-row: span 1;
  opacity: 0; 
  animation: fadeInFromTop 0.5s ease-out forwards;
  transform-origin: top center;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.circle {
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.square {
  width: 15rem;
  height: 15rem;
  background-color: white;
  cursor: pointer;
}
